

button {

  
  margin: 0px 0px 0px 0px;
  min-width: 0.3em;
  border: 1px solid;
  -moz-border-top-colors: transparent ThreeDHighlight ThreeDLightShadow;
  -moz-border-right-colors: transparent ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: transparent ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: transparent ThreeDHighlight ThreeDLightShadow;
  background-color: ThreeDFace;
  color: ButtonText;


  
}


#qsfox-CloseButton {
    margin: 0px 4px 0px 0px;
    -moz-image-region: rect(auto, auto, auto, auto);
    list-style-image: url("chrome://qsfox/skin/images/close.png");
}

#qsfox-WizardButton {
    margin: 0px 4px 0px 0px;
    -moz-image-region: rect(auto, auto, auto, auto);
    list-style-image: url("chrome://qsfox/skin/images/wizard.png");
}

#qsfox-HelpButton {
    margin: 0px 4px 0px 0px;
    -moz-image-region: rect(auto, auto, auto, auto);
    list-style-image: url("chrome://qsfox/skin/images/help.png");
}
